@page "{Id}"
@model gui.Pages.Sections.ViewModel
@addTagHelper *, gui
<h1>@Model.Item.Title for @Model.Item.Application.Candidate</h1>
<a href="/Applications/View/@Model.Item.Application.Id">Back to application summary</a>

<table>
    <tbody>
        <tr><th>Weighting</th><td>@Model.Item.Weighting</td></tr>
        @if (Model.Item.Weighting > 0)
        {
            <tr><th>Score</th><td> <score-badge score="@Model.Item.Score" Weighting="@Model.Item.Weighting" Finished="@Model.Item.Finished"></score-badge></td></tr>
        }
        else
        {
            <tr><th>Status</th><td> <score-badge score="@Model.Item.Score" Weighting="@Model.Item.Weighting" Finished="@Model.Item.Finished"></score-badge></td></tr>
        }
    </tbody>
</table>
<br />
<table>
    <thead>
        <tr><th>Question</th><th>Score</th><th>Answer</th></tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Item.Answers.Count(); i++)
        {
            var a = Model.Item.Answers[i];
            var score = a.ScoreOutOfTen == true ? a.Score.ToString() : "-";
            <tr><th>@a.Title</th><td>@score</td><td>@a.AnswerText</td></tr>
        }
    </tbody>

</table>
<br />
<h2>Comments</h2>
<p>@Model.Item.Comments</p>

