@page
@using gui.Pages.Shared;
@using xingyi.common;
@using xingyi.application;
@using xingyi.job;
@using xingyi.job.Models;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-4">Welcome @User.Identity.Name</h1>

    @if (Model.Nothing)
    {
        <p>Welcome to the site.</p>

        <p>You are currently not a candidate, or an interviewer. And you currently aren't posting any vacancies</p>
    }

    <p>Find out more about <a href="/Info/FillingIn">Filling in details</a></p>

    @Html.Partial("_SectionToDoList", new TodoDisplayDto<Section>
    {
    Message = "This is the list of details you have been asked to fill in",
    Items = Model.MyTodoSections
    })

    @Html.Partial("_SectionToDoList", new TodoDisplayDto<Section>
    {
    Message= "Details you have already filled in",
    Items = Model.MyDoneSections
    })

 
    @Html.Partial("_JobAndAppsToDoList", new TodoDisplayDto<JobAndApplications>
    {
    Message= "Your active jobs",
    Items = Model.MyActiveApps
    })
    @Html.Partial("_JobAndAppsToDoList", new TodoDisplayDto<JobAndApplications>
    {
    Message= "Your inactive jobs",
    Items = Model.MyCompletedApps
    })

    @if (Model.NoApps)
    {
        <p>If you want to find candidates for a Vacancy:</p>
    }   
    <p>Find out more about <a href="/Info/PostingVacancies">Posting Vacancies</a></p>
    <a href="/Jobs/Create"> Create a new Job (Vacancy)</a>



</div>
