@using xingyi.application;

@model TodoDisplayDto<JobAndApplications>

@if (Model.Items.Count > 0)
{
    <h2> @Model.Message</h2>
}
@foreach (var jobAndApp in Model.Items)
{
    <div class="card">
        <div class="card-header">
            @jobAndApp.Job.Title <a href="/Applications/Create/@jobAndApp.Job.Id">Add Candidate</a>
        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>Candidate</th>
                        <th>Score</th>
                        @foreach (var app in jobAndApp.Job.JobSectionTemplates)
                        {
                            <th>@app.SectionTemplate.Title <span class="score">(@app.SectionTemplate.Weighting)</span></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Count == 0)
                    {
                        <tr><td colspan="100">No Candidates</td></tr>
                    }

                    @foreach (var ap in jobAndApp.Applications)
                    {
                        <tr>
                            <td>@ap.Candidate</td>
                            <td>@ap.calcScore()</td>
                            @foreach (var sect in ap.Sections)
                            {
                                <td>
                                    @sect.Who <span class="score">(@sect.displayScore(ap.SumOfWeightings))</span>
                                    @if (sect.Finished)
                                    {
                                        <span class="badge badge-success" role="status" aria-label="Finished" title="Finished">F</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-warning" role="status" aria-label="Waiting" title="Waiting">W</span>
                                    }
                                </td>
                            }
                        </tr>
                    }

            </table>
        </div>
    </div>

}
