@using xingyi.application;
@model ToDoAndAppsDto<JobAndApplications>
@addTagHelper *, gui

@if (Model.Items.Count > 0)
{
    <h2> @Model.Title</h2>
}
@foreach (var jobAndApp in Model.Items)
{


    <div class="card">
        <div class="card-header">
            <div>@jobAndApp.Job.Title <a href="/Applications/Create/@jobAndApp.Job.Id">Add Candidate</a></div>
            @Model.Message

        </div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>Candidate</th>
                        <th>Score</th>
                        @foreach (var app in jobAndApp.Job.JobSectionTemplates)
                        {
                            <th>@app.SectionTemplate.Title <span class="score">(@app.SectionTemplate.Weighting)</span></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Items.Count == 0)
                    {
                        <tr><td colspan="100">No Candidates</td></tr>
                    }

                    @foreach (var ap in jobAndApp.Applications)
                    {
                        var allDone = ap.Sections.All(s => s.Finished);
                        var score = ap.calcScore();
                        <tr>
                            <td><a href="/Applications/View/@ap.Id">@ap.Candidate</a></td>
                            <td><score-badge score="@score" Finished="@allDone" Weighting="ap.SumOfWeightings"></score-badge></td>
                            @foreach (var sect in ap.Sections)
                            {
                                <td>
                                    <score-badge score="@sect.Score" Weighting="@sect.Weighting" Finished="@sect.Finished" ShowText="false"></score-badge>
                                    <a href="/Sections/View/@sect.Id"><div>@sect.Who</div></a>
                                </td>
                            }
                        </tr>
                    }

            </table>
        </div>
    </div>

}
