@using xingyi.application;

@model ToDoAndAppsDto<Section>

@if (Model.Items.Count > 0)
{
    <div class="card">
        <div class="card-header">@Model.Title</div>
        <div class="card-body">
            <table>
                <thead>
                    <tr>
                        <th>Candidate</th>
                        <th>Job</th>
                        <th>Job Owner</th>
                        <th>Type</th>
                    </tr>
                </thead>
                @foreach (var sect in Model.Items)
                {
                    <tr>
                        <td>@sect.Application.Candidate</td>
                        <td>@sect.Application.Job.Title</td>
                        <td>@sect.Application.Job.Owner</td>
                        <td data-placement="top" data-toggle="tooltip" title="Click here to fill in the details"><a href="/Sections/FillinDetails/@sect.Id">@sect.Title</a>

                    </td>



                    </tr>

                }
            </table>
        </div>
    </div>
}
